<template id="params-list">
    <div>
        <template v-for="(item, index) in items">
            <div v-if="item.prop.tab == tab">
                <params-asis v-if="item.prop.type == 'asis'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-asis>
                <params-variable v-if="item.prop.type == 'var'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-variable>
                <params-string v-if="item.prop.type == 'string'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-string>
                <params-select v-if="item.prop.type == 'select'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-select>
                <params-rich v-if="item.prop.type == 'rich'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-rich>
                <params-source v-if="item.prop.type == 'source'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-source>
                <params-multiple v-if="item.prop.type == 'multiple'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-multiple>
                <params-object v-if="item.prop.type == 'object'" :id="'pages-widgets-dialog-props-' + index"
                    :item.sync="item"
                    :globals.sync="globals"
                ></params-object>
            </div>
        </template>
    </div>
</template>
