<template id="params-bindings-dialog">
    <div class="ge ge-modal modal modal-center" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="modal-content"
                @submit.prevent="submit"
                @reset.prevent="reset"
            >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <span v-if="original" class="label label-primary">{{ original.name }}</span>
                        <span v-if="original">&nbsp;Edit Param</span>
                        <span v-if="!original">New Param</span>
                        <span>&gt;</span>
                        <span v-for="tab in context.prop.tabs" v-if="isActive(tab.name)">{{ tab.title }}</span>
                        <span v-if="isActive('binding')">Binding</span>
                    </h4>
                </div>
                <div class="modal-body" style="height: 500px;">
                    <div class="row">
                        <div class="col-xs-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li :class="{ 'active': isActive('binding') }"><a href="#" @click="activate('binding')">Binding</a></li>
                                <li v-for="tab in context.prop.tabs" :class="{ 'active': isActive(tab.name) }"><a href="#" @click="activate(tab.name)">{{ tab.title }}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-9">
                            <div class="tab-content" style="min-height: 450px; max-height: 450px; overflow: auto;">
                                <div class="tab-pane" :class="{ 'active': isActive('binding') }">
                                    <div class="form-group">
                                        <label for="bindings-dialog-binding">Биндинг</label>
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span v-if="getStrategy() == 'eval'">Eval </span>
                                                    <span v-if="getStrategy() == 'interpolate'">Interpolate </span>
                                                    <span v-if="getStrategy() == 'wire'">Wire </span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li :class="{ 'active': getStrategy() == 'eval' }"><a href="#" @click="setStrategy('eval')">Eval</a></li>
                                                    <li :class="{ 'active': getStrategy() == 'interpolate' }"><a href="#" @click="setStrategy('interpolate')">Interpolate</a></li>
                                                    <li v-if="context.prop.variable" :class="{ 'active': getStrategy() == 'wire' }"><a href="#" @click="setStrategy('wire')">Wire</a></li>
                                                </ul>
                                            </div>
                                            <input class="form-control" type="text" id="bindings-dialog-binding" v-model="current.binding.expression" />
                                        </div>
                                    </div>
                                </div>
                                <div v-for="tab in context.prop.tabs" class="tab-pane" :class="{ 'active': isActive(tab.name) }">
                                    <params :items.sync="items" :globals.sync="globals" :owner.sync="context.prop" :tab="tab.name"></params>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</template>
