<template id="shell-private">
    <div class="ge ge-shell ge-shell-private">
        <div class="ge ge-head ge-no-select">
            <shell-brand></shell-brand>
        </div>
        <div class="ge ge-body">
            <div class="ge ge-body-table">
                <div class="ge ge-left ge-no-select" :class="{ 'ge-left-open' : $store.state.designer.left.open }" v-scrollable>
                    <div class="ge ge-hover">
                        <a class="ge ge-hover-button" @click = "$store.commit('designer/leftToggle', 'palette')">
                            <span class="glyphicon glyphicon-th"></span>
                            Palette
                        </a>
                    </div>
                    <div class="ge ge-subnav">
                        <shell-palette></shell-palette>
                    </div>
                </div>
                <div class="ge ge-editor">
                    <shell-actions class="ge ge-no-select"></shell-actions>
                    <shell-container :page="page" :key="page.uuid"></shell-container>
                    <shell-bottom class="ge ge-no-select"></shell-bottom>
                </div>
                <div class="ge ge-right ge-no-select" :class="{ 'ge-right-open' : $store.state.designer.right.open }"  v-scrollable>
                    <div class="ge ge-subnav">
                        <template v-if="$store.state.designer.right.panel == 'structure'">
                            <shell-pages></shell-pages>
                            <shell-sources></shell-sources>
                            <shell-storages></shell-storages>
                        </template>
                        <shell-tree v-if="$store.state.designer.right.panel == 'tree'"></shell-tree>
                    </div>
                    <div class="ge ge-hover">
                        <div class="ge ge-hover-group">
                            <a class="ge ge-hover-button" @click = "$store.commit('designer/rightToggle', 'tree')">
                                <span class="fa fa-sitemap"></span>
                                Tree
                            </a>
                            <a class="ge ge-hover-button" @click = "$store.commit('designer/rightToggle', 'structure')">
                                <span class="fa fa-bars"></span>
                                Stucture
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <shell-modal-stack></shell-modal-stack>
    </div>
</template>
