.ge.ge-shell.ge-shell-public {
  font-family: 'Roboto', sans-serif;
}
.ge.ge-shell.ge-shell-private {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #34495E;
}
.ge.ge-shell.ge-shell-private .ge.ge-head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}
.ge.ge-shell.ge-shell-private .ge.ge-body {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-body-table {
  display: flex;
  width: 100%;
  height: 100%;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-subnav {
  background: #1F2E3C;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-editor {
  background: #F3F7F7;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav {
  flex: 0 1 40px;
  vertical-align: top;
  width: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav .ge.ge-hover {
  position: absolute;
  width: 40px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 20;
  background: #34495E;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav .ge.ge-hover .ge.ge-hover-button {
  position: absolute;
  top: 30px;
  left: -20px;
  transform: rotate(-90deg);
  background: #1F2E3C;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 6px;
  white-space: nowrap;
  width: 80px;
  text-align: center;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav .ge.ge-subnav {
  position: absolute;
  top: 0px;
  left: -280px;
  bottom: 0px;
  width: 280px;
  z-index: 10;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav:hover {
  transition: 0.5s;
  flex: 0 1 320px;
}
.ge.ge-shell.ge-shell-private .ge.ge-nav:hover .ge.ge-subnav {
  transition: 0.5s;
  left: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-structure {
  flex: 0 1 220px;
}
.ge.ge-shell.ge-shell-private .ge.ge-editor {
  flex: 1 1 100px;
  position: relative;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel {
  margin-bottom: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays {
  float: right;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays .ge.ge-overlay {
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays .ge.ge-overlay:hover {
  opacity: 1;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel h5 {
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 0px 0px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li {
  margin: 0px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a {
  padding: 10px 15px 10px 40px;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 1.0em;
  font-weight: 300;
  outline: none;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:hover,
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:focus {
  background-color: #263949;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a .ge.ge-overlays {
  display: none;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:hover .ge.ge-overlays {
  display: block;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li.active > a {
  background-color: #1F2E3C;
}
