.ge.ge-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ge.ge-shell.ge-shell-public {
  font-family: Arial;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.ge.ge-shell.ge-shell-public .wg.wg-default-stack-canvas {
  padding: 0px;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-x-rail {
  height: 10px;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  height: 6px;
  background: #c8c8c8;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-x-rail:hover {
  background: rgba(200, 200, 200, 0.3);
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #2196f3;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-y-rail {
  width: 10px;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 6px;
  background: #c8c8c8;
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-y-rail:hover {
  background: rgba(200, 200, 200, 0.3);
}
.ge.ge-shell.ge-shell-public .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #2196f3;
}
.ge.ge-shell.ge-shell-frame {
  position: relative;
  overflow: visible;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ge.ge-shell.ge-shell-frame > .ge.ge-page {
  overflow: visible;
}
.ge.ge-shell.ge-shell-frame > .ge.ge-page > .ge.ge-widget {
  overflow: visible;
}
.ge.ge-shell.ge-shell-frame > .ge.ge-page > .ge.ge-widget > .ge.ge-content {
  overflow: visible;
}
.ge.ge-shell.ge-shell-frame > .ge.ge-page > .ge.ge-widget > .ge.ge-content > .wg.wg-default-stack-canvas {
  overflow: visible;
}
.ge.ge-shell.ge-shell-private {
  font-family: Arial;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background: #262633;
  display: flex;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-selector {
  position: relative;
  height: 65px;
  padding: 15px;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-selector .dropdown-menu {
  width: 100%;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-selector .dropdown-menu a {
  cursor: pointer;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-selector .btn.btn-shell {
  background: #262633;
  border: 1px solid #161623;
  font-weight: normal;
  text-shadow: none;
  color: #EEEEEE;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-selector .btn.btn-shell:hover {
  background-color: #323242;
  color: #FFFFFF;
}
.ge.ge-shell.ge-shell-private .ge.ge-shell-block > .ge.ge-block-content {
  position: relative;
  width: 100%;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-x-rail {
  height: 10px;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  height: 6px;
  background: #c8c8c8;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-x-rail:hover {
  background: rgba(200, 200, 200, 0.3);
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #2196f3;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-y-rail {
  width: 10px;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 6px;
  background: #c8c8c8;
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-y-rail:hover {
  background: rgba(200, 200, 200, 0.3);
}
.ge.ge-shell.ge-shell-private .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #2196f3;
}
.ge.ge-shell.ge-shell-private .ge.ge-head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-body {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-body-table {
  display: flex;
  width: 100%;
  height: 100%;
  background: #141422;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-subnav {
  background: #141422;
}
.ge.ge-shell.ge-shell-private .ge.ge-body .ge.ge-editor {
  background: #F3F7F7 url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=") repeat;
}
.ge.ge-shell.ge-shell-private .ge.ge-left {
  position: relative;
  flex: 0 0 40px;
  vertical-align: top;
  width: 40px;
  transition: 0.5s;
  background: #262633;
}
.ge.ge-shell.ge-shell-private .ge.ge-left .ge.ge-hover {
  position: absolute;
  width: 40px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 20;
  background: #262633;
}
.ge.ge-shell.ge-shell-private .ge.ge-left .ge.ge-hover .ge.ge-hover-button {
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  top: 30px;
  left: -20px;
  transform: rotate(-90deg);
  background: #141422;
  color: #EEEEEE;
  border-radius: 4px;
  padding: 4px 6px;
  white-space: nowrap;
  width: 80px;
  text-align: center;
}
.ge.ge-shell.ge-shell-private .ge.ge-left .ge.ge-hover .ge.ge-hover-button:hover {
  background-color: #323242;
  color: #FFFFFF;
}
.ge.ge-shell.ge-shell-private .ge.ge-left .ge.ge-subnav {
  position: absolute;
  transition: 0.5s;
  top: 0px;
  left: -240px;
  bottom: 40px;
  width: 280px;
  z-index: 10;
}
.ge.ge-shell.ge-shell-private .ge.ge-left.ge-left-open {
  transition: 0.5s;
  flex: 0 0 320px;
}
.ge.ge-shell.ge-shell-private .ge.ge-left.ge-left-open .ge.ge-subnav {
  transform: translate3d(0, 0, 0);
  transition: 0.5s;
  left: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-right {
  position: relative;
  flex: 0 0 40px;
  vertical-align: top;
  width: 40px;
  transition: 0.5s;
  background: #262633;
}
.ge.ge-shell.ge-shell-private .ge.ge-right .ge.ge-hover {
  position: absolute;
  width: 40px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  background: #262633;
}
.ge.ge-shell.ge-shell-private .ge.ge-right .ge.ge-hover .ge.ge-hover-group {
  position: absolute;
  top: 60px;
  left: -80px;
  width: 200px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.ge.ge-shell.ge-shell-private .ge.ge-right .ge.ge-hover .ge.ge-hover-button {
  margin: 0px 2px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background: #141422;
  color: #EEEEEE;
  border-radius: 4px;
  padding: 4px 6px;
  width: 80px;
  text-align: center;
}
.ge.ge-shell.ge-shell-private .ge.ge-right .ge.ge-hover .ge.ge-hover-button:hover {
  background-color: #323242;
  color: #FFFFFF;
}
.ge.ge-shell.ge-shell-private .ge.ge-right .ge.ge-subnav {
  position: absolute;
  transition: 0.5s;
  top: 0px;
  right: -240px;
  bottom: 40px;
  width: 280px;
  z-index: 10;
}
.ge.ge-shell.ge-shell-private .ge.ge-right.ge-right-open {
  transition: 0.5s;
  flex: 0 0 320px;
}
.ge.ge-shell.ge-shell-private .ge.ge-right.ge-right-open .ge.ge-subnav {
  transform: translate3d(0, 0, 0);
  transition: 0.5s;
  right: 40px;
}
.ge.ge-shell.ge-shell-private .ge.ge-editor {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel {
  margin-bottom: 15px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays {
  float: right;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays .ge.ge-overlay {
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel .ge.ge-overlays .ge.ge-overlay:hover {
  opacity: 1;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel h5 {
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 0px 0px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li {
  margin: 0px;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a {
  padding: 5px 15px 5px 40px;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 1.0em;
  font-weight: 300;
  outline: none;
  color: #AAAABB;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:hover,
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:focus {
  background-color: transparent;
  color: #FFFFFF;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a .ge.ge-overlays {
  display: none;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li > a:hover .ge.ge-overlays {
  display: block;
}
.ge.ge-shell.ge-shell-private .ge.ge-panel ul.nav > li.active > a {
  color: #FFFFFF;
  background-color: #141422;
  font-weight: bold;
}
