.modal-images .navbar {
  min-height: auto;
  margin-bottom: 10px;
}
.modal-images .navbar .navbar-btn.btn-sm {
  margin: 4px 6px 4px 0px;
}
.modal-images .thumbnail {
  text-align: center;
}
.modal-images .thumbnail .thumbnail-content {
  width: 120px;
  height: 60px;
  background-color: #F5F5F5;
}
