.ge.ge-modal .modal-content {
  border-radius: 0px;
  background-color: #F3F7F7;
}
.ge.ge-modal .modal-content ul.nav > li > a {
  padding: 10px 15px 10px 40px;
  border-radius: 0px;
  font-size: 1.0em;
  font-weight: 300;
  outline: none;
  color: #1F2E3C;
}
.ge.ge-modal .modal-content ul.nav > li > a:hover,
.ge.ge-modal .modal-content ul.nav > li > a:focus {
  background-color: #4D7391;
  color: #FFFFFF;
}
.ge.ge-modal .modal-content ul.nav > li.active a {
  background-color: #416177;
  color: #FFFFFF;
}
