<template id="shell-decorator-horisontal">
    <div class="ge ge-widget" :class="{ 'ge-widget-selected': selected, 'ignore-elements': editable }">
        <div class="ge ge-content">
            <div
                :is="widget.tag"
                v-ref:widget
                :page.sync="page"
                :data.sync="data"
                :storage.sync="storage"
                :bindings.sync="bindings"
                :children.sync="children"
                :editable.sync="selected"
            ></div>
        </div>
        <div class="ge ge-overlay" v-if="$route.private && editable">
            <div class="ge ge-overlay-left">
                <a href="#" v-if="!selected" @click.stop.prevent="selectTarget()" class="label label-success">Unlock</a>
                <a href="#" v-if="selected" @click.stop.prevent="unselectTarget()" class="label label-success">Lock</a>
            </div>
            <div class="ge ge-overlay-right">
                <a href="#" v-if="!selected" @click.stop.prevent="showSettings()" class="label label-primary">Settings</a>
                <a href="#" v-if="!selected" @click.stop.prevent="removeWidget()" class="label label-danger">Remove</a>
            </div>
        </div>
    </div>
</template>
