<template id="shell-decorator-repeater">
    <div class="ge ge-widget"
        :class="{ 'ge-widget-selected': model.designer.unlocked, 'ignore-elements': editable }"
        :style="{ 'padding-top': (model.designer.unlocked && $route && $route.meta.private) ? '25px' : '0px' }">
        <div class="ge ge-content">
            <div
                :is="widget.tag"
                ref="widget"
                :page="page"
                :stack="model"
                :bindings="bindings"
                :children="children"
                :editable="model.designer.unlocked"
            ></div>
        </div>
        <div class="ge ge-overlay" v-if="$route && $route.meta.private && editable">
            <div class="ge ge-overlay-left">
                <a href="#" v-if="!model.designer.unlocked" @click.stop.prevent="selectTarget()" class="label label-success">Unlock</a>
                <a href="#" v-if="model.designer.unlocked" @click.stop.prevent="unselectTarget()" class="label label-success">Lock</a>
            </div>
            <div class="ge ge-overlay-right" v-if="!model.designer.unlocked">
                <a href="#" @click.stop.prevent="showSettings()" class="label label-primary">Edit</a>
                <a href="#" @click.stop.prevent="removeWidget()" class="label label-danger">Del</a>
            </div>
        </div>
    </div>
</template>
