.ge.ge-brand a {
  display: block;
  color: #FFFFFF;
  padding-left: 50px;
  background: transparent url('/bundles/ntr1xlayout/img/logo-white.png') no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 60px;
  margin: 10px 10px;
}
