.ge.ge-container {
  position: relative;
  flex: 1 1 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: column;
  border: 1px solid #181a1f;
}
.ge.ge-container .ge.ge-container-scrollable {
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  overflow: hidden;
}
.ge.ge-container .ge.ge-container-scrollable .ge.ge-container-viewport {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}
.ge.ge-container.ge-container-relative > .ge.ge-container-scrollable > .ge.ge-container-viewport {
  position: relative;
  margin: 15px auto;
}
