.ge.ge-container {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}
.ge.ge-container .ge.ge-container-scrollable {
  position: absolute;
  padding: 5px 5px;
  top: 25px;
  left: 25px;
  bottom: 25px;
  right: 25px;
  overflow: visible;
}
