// "out": "container.css"

.ge.ge-container {

    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 25px 25px;
    padding: 5px 5px;
    overflow: visible;
}
