.ge.ge-container {
  position: relative;
  flex: 1 1 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.ge.ge-container .ge.ge-container-scrollable {
  position: absolute;
  top: 25px;
  left: 25px;
  bottom: 25px;
  right: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
}
