// "out": "page.css"

.ge.ge-page {
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    overflow: hidden;
    transform-origin: top center;
    flex: 1 1 auto;
    width: 100%;
    display: flex;

    >.ge.ge-widget {
        >.ge.ge-content {
            flex-direction: column;
            overflow: auto;
        }
    }
}
