.ge.ge-page {
  margin: 0px auto 0px auto;
  box-sizing: border-box;
  transform-origin: top center;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}
.ge.ge-page > .ge.ge-widget > .ge.ge-content {
  flex-direction: column;
}
