<template id="shell-actions">
    <section class="ge ge-actions">
        <div class="pull-left">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-shell" @click="$store.dispatch('designer/push')">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <span>Store Changes</span>
                </button>
                <button type="button" class="btn btn-default btn-shell" @click="$store.dispatch('designer/pull')">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    <span>Discard Changes</span>
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-shell" @click="$store.dispatch('designer/zoomIn')">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                    <span>Zoom in</span>
                </button>
                <button type="button" class="btn btn-default btn-shell" @click="$store.dispatch('designer/zoom', 1)">
                    <span>100%</span>
                </button>
                <button type="button" class="btn btn-default btn-shell" @click="$store.dispatch('designer/zoomOut')">
                    <span class="glyphicon glyphicon-zoom-out"></span>
                    <span>Zoom out</span>
                </button>
            </div>
        </div>
        <div class="pull-right" style="margin-right: 5px">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-shell" @click.prevent="showFiles()" title="File Uploads">
                    <span class="fa fa-paperclip"></span>
                </button>
                <button type="button" class="btn btn-default btn-shell" @click.prevent="showImages()" title="Image Uploads">
                    <span class="glyphicon glyphicon-picture"></span>
                </button>
            </div>
        </div>
        <div class="pull-right" style="margin-right: 5px">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-shell" @click.prevent="importPage()" title="Import Page">
                    <span class="glyphicon glyphicon-import"></span>
                </button>
                <button type="button" class="btn btn-default btn-shell" @click.prevent="clonePage()" title="Clone Page">
                    <span class="fa fa-clone"></span>
                </button>
            </div>
        </div>
        <div class="pull-right" style="margin-right: 5px">
            <div class="btn-group btn-group-viewport">
                <button type="button" data-toggle="dropdown" class="btn btn-default btn-shell">
                    <span class="fa fa-desktop" :class="{
                        'fa-desktop': $store.state.designer.viewport == null,
                        'fa-tablet': $store.state.designer.viewport != null && $store.state.designer.viewport.type == 'tablet',
                        'fa-mobile': $store.state.designer.viewport != null && $store.state.designer.viewport.type == 'mobile'
                    }"></span>
                    &nbsp;<span>{{ $store.state.designer.viewport != null ? $store.state.designer.viewport.title : 'Full Size' }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a @click="$store.commit('designer/viewport', null)">Full Size</a>
                    </li>
                    <template v-for="group in viewports">
                        <li role="separator" class="divider"></li>
                        <li v-for="viewport in group">
                            <a @click="$store.commit('designer/viewport', viewport)"
                            >{{ viewport.title }} <span class="badge pull-right">{{ viewport.width }}x{{ viewport.height }}</span></a>
                        </li>
                    </template>
                </ul>
                <button v-if="$store.state.designer.viewport != null" type="button" class="btn btn-default btn-shell" @click="$store.commit('designer/viewport/rotate')">
                    <span class="fa fa-retweet"></span>
                </button>
                <a type="button" class="btn btn-default btn-shell" :href="'/view/' + $store.state.designer.portal.id + '/'" target="_blank" title="View">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </section>
</template>
