.ge.ge-actions {
  flex: 0 0 65px;
  background-color: #141422;
  padding: 15px 15px;
}
.ge.ge-actions .btn-group-viewport .dropdown-menu {
  width: 250px;
}
.ge.ge-actions .ge.ge-pages-selector {
  display: table;
}
.ge.ge-actions .ge.ge-pages-selector .ge.ge-selector-row {
  display: table-row;
}
.ge.ge-actions .ge.ge-pages-selector .ge.ge-selector-row .ge.ge-selector-cell {
  display: table-cell;
}
.ge.ge-actions .ge.ge-pages-selector .ge.ge-selector-row .ge.ge-selector-cell.ge-cell-page {
  width: 200px;
}
.ge.ge-actions .ge.ge-pages-selector .ge.ge-selector-row .ge.ge-selector-cell.ge-cell-actions {
  width: 100px;
}
.ge.ge-actions .btn.btn-shell {
  background: #262633;
  border: 1px solid #161623;
  font-weight: normal;
  text-shadow: none;
  color: #EEEEEE;
  letter-spacing: 0;
}
.ge.ge-actions .btn.btn-shell:hover {
  background-color: #323242;
  color: #FFFFFF;
}
