// "out": "actions.css"

.ge.ge-actions {

    flex: 0 0 65px;
    background-color: #141422;
    padding: 15px 15px;

    .btn {
        // margin: 0px 2px;
    }

    .ge.ge-pages-selector {
        display: table;
        .ge.ge-selector-row {
            display: table-row;
            .ge.ge-selector-cell {
                display: table-cell;

                &.ge-cell-page {
                    width: 200px;
                }

                &.ge-cell-actions {
                    width: 100px;
                }
            }
        }
    }

    .btn.btn-shell {

        background: #262633;
        border: 1px solid #161623;
        font-weight: normal;
        text-shadow: none;
        color: #EEEEEE;

        &:hover {
            background-color: #323242;
            color: #FFFFFF;
        }
    }
}
