<template id="storages-variables-list">
    <section>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 15%">Name</th>
                    <th style="width: 15%">Type</th>
                    <th style="width: 30%">Value</th>
                    <th>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">Add <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li v-for="t in [ 'string', 'number', 'multiple', 'object' ]">
                                    <a href="#" v-if="t == 'multiple' || t == 'object'" @click.prevent="create({ value: null, binding: null, type: t, title: null, variables: []})">{{ t }}</a>
                                    <a href="#" v-else @click.prevent="create({ value: null, binding: null, type: t, title: null})">{{ t }}</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in items">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        <span>{{ item.value }}</span>
                        <span v-if="item.value">&nbsp;</span>
                        <span v-if="item.binding" class="label label-primary">Bound</span>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-default" @click="update(item)">Edit</a>
                        <a class="btn btn-xs btn-danger" @click="remove(item)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
