<template id="shell-categories">
    <section class="ge ge-categories">
        <div v-for="category in categories">
            <h5>
                <span>{{ category.title }}</span>
            </h5>
            <ul class="nav nav-pills nav-stacked">
                <li v-for="item in category.categories" :class="{ 'active': item == globals.selection.category }"><a href="#" @click="trigger('selectCategory', item)">{{ item.title }}</a></li>
            </ul>
        </div>
    </section>
</template>
