<template id="pages-dialog">
    <div class="ge ge-modal modal modal-center" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="modal-content"
                @submit.prevent="submit"
                @reset.prevent="reset"
            >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <span v-if="context.type == 'update'" class="label label-primary">Edit Page</span>
                        <span v-if="context.type == 'create'" class="label label-primary">New Page</span>
                        <span v-if="original.name">&nbsp;{{ original.name || 'default' }}</span>
                        <span>&gt;</span>
                        <span v-if="isActive('main')">Основное</span>
                        <span v-for="tab in context.widget.tabs" v-if="tab && isActive(tab.name)">{{ tab.title }}</span>
                    </h4>
                </div>
                <div class="modal-body" style="height: 500px;">
                    <div class="row">
                        <div class="col-xs-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li :class="{ 'active': isActive('main') }"><a href="#" @click="activate('main')">Основное</a></li>
                                <li v-for="tab in context.widget.tabs" v-if="tab && hasProps(tab.name)" :class="{ 'active': tab && isActive(tab.name) }"><a href="#" @click="activate(tab.name)">{{ tab.title }}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-9">
                            <div class="tab-content" style="min-height: 450px; max-height: 450px; overflow: auto;">
                                <div class="tab-pane" :class="{ 'active': isActive('main') }">
                                    <div class="form-group">
                                        <label for="dialog-page-name">Name</label>
                                        <input class="form-control" type="text" id="dialog-page-name" v-model="current.name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="dialog-page-type">Type</label>
                                        <select class="form-control" type="text" id="dialog-page-type" v-model="current.type">
                                            <option value="page">Page</option>
                                            <option value="modal">Modal</option>
                                            <option value="composite">Composite</option>
                                        </select>
                                    </div>
                                </div>
                                <div v-for="tab in context.widget.tabs" class="tab-pane" :class="{ 'active': isActive(tab.name) }">
                                    <params :items="items" :tab="tab.name"></params>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Отменить</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</template>
