<template id="pages-settings-dialog">
    <div class="ge ge-modal modal modal-center" role="dialog">
        <div class="modal-dialog">
            <form class="modal-content"
                @submit.prevent="submit"
                @reset.prevent="reset"
            >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <span v-if="original" class="label label-primary">{{ original.name }}</span>
                        <span v-if="original">&nbsp;Редактирование параметра</span>
                        <span v-if="!original">Новый параметр</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pages-settings-dialog-name">Имя</label>
                        <input class="form-control" type="text" id="pages-settings-dialog-name" required="true" v-model="current.name" />
                    </div>
                    <div class="form-group">
                        <label for="pages-settings-dialog-value">Значение</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="pages-settings-dialog-value" v-model="current.value" />
                            <div class="input-group-btn">
                                <bindings :model.sync="current" inline-template>
                                    <button type="button" class="btn btn-default" @click="open">...</button>
                                </bindings>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Отменить</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</template>
