<template id="pages-settings-list">
    <section>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 20%">Имя</th>
                    <th style="width: 40%">Значение</th>
                    <th><a class="btn btn-xs btn-primary" @click="create({ value: null, binding: null})">Добавить</a></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" v-show="item._action != 'remove'">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <span>{{ item.value }}</span>
                        <span v-if="item.value">&nbsp;</span>
                        <span v-if="item.binding" class="label label-primary">Связано</span>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-default" @click="update(item)">Редактировать</a>
                        <a class="btn btn-xs btn-danger" @click="remove(item)">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
