.ge.ge-palette .ge.ge-palette-selector {
  position: absolute;
  top: 0px;
  height: 60px;
  left: 0px;
  right: 0px;
  padding: 15px;
}
.ge.ge-palette .ge.ge-palette-selector .btn.btn-palette {
  background: #34495E;
  border-radius: 4px;
  width: 100%;
  color: #FFFFFF;
}
.ge.ge-palette .ge.ge-palette-categories {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category {
  padding: 15px;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-title {
  color: #FFFFFF;
  font-size: 0.9em;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette {
  display: table;
  margin: 0px 0px 0px -10px;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item {
  margin: 10px 0px 0px 10px;
  position: relative;
  float: left;
  background: black;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item img {
  width: 120px;
  height: 60px;
  border: 2px solid #34495E;
  border-radius: 2px;
  box-sizing: border-box;
}
.ge.ge-palette .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item img:hover {
  border: 2px solid #CCDAC6;
}
