<template id="shell-palette">
    <section class="ge ge-palette">
        <div class="ge ge-palette-selector">
            <div class="dropdown">
                <button class="btn btn-palette dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ globals.selection.category.title }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="category in categories"><a @click.prevent="trigger('selectCategory', category)">{{ category.title }}</a></li>
                </ul>
            </div>
        </div>
        <div class="ge ge-palette-categories" v-scrollable>
            <div v-for="c in category.categories" class="ge ge-palette-category">
                <div class="ge ge-category-title">{{ c.title }}</div>
                <div class="ge ge-category-palette">
                    <palette-item v-for="widget in c.widgets" :widget.sync="widget"></palette-item>
                </div>
            </div>
        </div>
    </section>
</template>
