.ge.ge-palette > .ge.ge-palette-categories {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 6px 0px 1px 0px;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category {
  padding: 15px 0px 15px 15px;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-title {
  color: #FFFFFF;
  font-size: 0.9em;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette {
  display: table;
  margin: 0px 0px 0px -10px;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item {
  margin: 10px 0px 0px 10px;
  position: relative;
  float: left;
  background: black;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item .ge.ge-palette-widget.dragged {
  position: absolute;
  display: table;
  opacity: 0.5;
  z-index: 2000;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item img {
  width: 120px;
  height: 60px;
  border: 2px solid #34495E;
  border-radius: 2px;
  box-sizing: border-box;
}
.ge.ge-palette > .ge.ge-palette-categories .ge.ge-palette-category .ge.ge-category-palette .ge.ge-palette-item img:hover {
  border: 2px solid #CCDAC6;
}
