<template id="shell-palette">
    <section class="ge ge-palette ge-shell-block">
        <div class="ge ge-block-selector">
            <div class="btn-toolbar">
                <div class="btn-group btn-group-justified">
                    <button class="btn btn-shell dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%">
                        {{ globals.selection.category.title }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="category in categories" v-if="!category.ignore"><a @click.prevent="trigger('selectCategory', category)">{{ category.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ge ge-palette-categories wg-sortable-container" v-scrollable>
            <div v-for="group in category.groups()" v-if="!group.ignore" class="ge ge-palette-category">
                <div class="ge ge-category-title">{{ group.title }}</div>
                <div class="ge ge-category-palette">
                    <palette-item v-for="item in group.items()" v-if="!item.hidden"
                        :category="category"
                        :group="group"
                        :item="item"
                    ></palette-item>
                </div>
            </div>
        </div>
    </section>
</template>
