<template id="shell-tree-item">
    <section class="ge ge-tree-item">
        <div class="ge ge-tree-caption" @click.prevent="open = !open">
            <span>
                <i v-if="widget.widgets && widget.widgets.length && open" class="fa fa-minus-square-o" href="#"></i>
                <i v-else-if="widget.widgets && widget.widgets.length && !open" class="fa fa-plus-square-o" href="#"></i>
                <i v-else class="fa fa-cube"></i>
                <span class="ge ge-overlays">
                    <span class="ge ge-overlay" @click.stop="remove()"><span class="glyphicon glyphicon-trash"></span></span>
                    <span class="ge ge-overlay" @click.stop="update()"><span class="glyphicon glyphicon-edit"></span></span>
                </span>
            </span>
            <span>{{ widget.tag }}</span>
        </div>
        <div class="ge ge-tree-children" v-if="open">
            <shell-tree-item v-for="w in widget.widgets" :key="w.uuid" :level="1 + level" :parent="widget" :widget="w"></shell-tree-item>
        </div>
    </section>
</template>
