.ge.ge-tree {
  color: #AAAABB;
}
.ge.ge-tree .ge.ge-tree-content {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px 0px 15px;
  box-sizing: border-box;
  overflow: auto;
}
.ge.ge-tree .ge.ge-tree-caption {
  position: relative;
  float: left;
  width: 100%;
  display: table;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px 0px;
  box-sizing: border-box;
}
.ge.ge-tree .ge.ge-tree-caption .ge.ge-overlays {
  position: absolute;
  padding: 0px 0px 0px 2px;
  top: 2px;
  right: 0px;
  display: none;
  background-color: #141422;
}
.ge.ge-tree .ge.ge-tree-caption:hover {
  color: #FFFFFF;
}
.ge.ge-tree .ge.ge-tree-caption:hover .ge.ge-overlays {
  display: block;
}
.ge.ge-tree .ge.ge-tree-item {
  position: relative;
  display: table;
  width: 100%;
  margin: 0px 0px;
  padding: 3px 3px;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
.ge.ge-tree .ge.ge-tree-item a {
  text-decoration: none;
  color: #AAAABB;
}
.ge.ge-tree .ge.ge-tree-item a:hover {
  color: #FFFFFF;
}
.ge.ge-tree .ge-tree-children {
  position: relative;
  display: table;
  width: 100%;
  margin-left: 6px;
  padding-left: 6px;
  border-left: 1px solid #333333;
  box-sizing: border-box;
}
