<template id="shell-pages">
    <section class="ge ge-panel ge-pages">
        <pages :items.sync="pages" :globals.sync="globals" inline-template>
            <h5>
                <span>Pages</span>
                <span class="ge ge-overlays">
                    <span class="ge ge-overlay" @click="create({ title: {}, resource: { params: [] }, sources: [], storages: [], widgets: [], metas: []})"><span class="glyphicon glyphicon-plus-sign"></span></span>
                </span>
            </h5>
            <ul class="nav nav-pills nav-stacked">
                <li v-for="item in items" v-show="item._action != 'remove'" :class="{ 'active': item == globals.selection.page }">
                    <a href="#" @click="trigger('selectPage', item)">
                        <span v-if="item.name != ''">{{ item.name }}</span>
                        <span v-if="item.name == ''"><i>default</i></span>
                        <span class="ge ge-overlays">
                            <span v-if="item.name != ''" class="ge ge-overlay" @click.stop="remove(item)"><span class="glyphicon glyphicon-trash"></span></span>
                            <span class="ge ge-overlay" @click.stop="update(item)"><span class="glyphicon glyphicon-edit"></span></span>
                        </span>
                    </a>
                </li>
            </ul>
        </pages>
    </section>
</template>
