<template id="shell-pages">
    <section class="ge ge-panel ge-pages">
        <h5>
            <span>Pages</span>
            <span class="ge ge-overlays">
                <span class="ge ge-overlay" @click="create({ title: {}, sources: [], storages: [], widgets: [], props: []})"><span class="glyphicon glyphicon-plus-sign"></span></span>
            </span>
        </h5>
        <ul class="nav nav-pills nav-stacked">
            <li v-for="page in pages" v-show="page._action != 'remove'" :class="{ 'active': page == globals.selection.page }">
                <a href="#" @click="trigger('selectPage', page)">
                    <span v-if="page.name != ''">{{ page.name }}</span>
                    <span v-if="page.name == ''"><i>default</i></span>
                    <span class="ge ge-overlays">
                        <span v-if="page.name != ''" class="ge ge-overlay" @click.stop="remove(page)"><span class="glyphicon glyphicon-trash"></span></span>
                        <span class="ge ge-overlay" @click.stop.prevent="update(page)"><span class="glyphicon glyphicon-edit"></span></span>
                    </span>
                </a>
            </li>
        </ul>
    </section>
</template>
