<template id="shell-pages">
    <section class="ge ge-panel ge-shell-block ge-pages">
        <div class="ge ge-block-selector">
            <div class="btn-group">
                <button class="btn btn-default btn-shell" type="button" data-toggle="dropdown" style="width: 200px">
                    {{ type.title }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="t in types"><a @click="type = t">{{ t.title }}</a></li>
                </ul>
                <button class="btn btn-default btn-shell" @click="create()"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
        <div class="ge ge-block-content">
            <ul class="nav nav-pills nav-stacked">
                <template v-for="item in items">
                    <li :key="item.uuid" v-if="item.type == type.name" :class="{ 'active': item == active }">
                        <a href="#" @click="$store.commit('designer/pages/select', item)">
                            <span v-if="item.name != ''">{{ item.name }}</span>
                            <span v-if="item.name == ''"><i>default</i></span>
                            <span class="ge ge-overlays">
                                <span v-if="item.name != ''" class="ge ge-overlay" @click.stop="remove(item)"><span class="glyphicon glyphicon-trash"></span></span>
                                <span class="ge ge-overlay" @click.stop.prevent="update(item)"><span class="glyphicon glyphicon-edit"></span></span>
                            </span>
                        </a>
                    </li>
                </template>
            </ul>
        </div>
    </section>
</template>
