<template id="shell-storages">
    <section class="ge ge-panel ge-shell-block ge-storages">
        <div class="ge ge-block-selector">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-shell dropdown-toggle" type="button" data-toggle="dropdown" style="width: 204px">
                        {{ type.title }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="t in types" :class="{ 'active': type == t }"><a @click="type = t">{{ t.title }}</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-shell" @click="create({ type: 'storage', variables: [] })"><span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>
            </div>
        </div>
        <div class="ge ge-block-content">
            <ul class="nav nav-pills nav-stacked">
                <host v-for="item in items">
                    <li v-if="item.type == type.name" :class="{ 'active': item == globals.selection.storage }">
                        <a href="#" @click="trigger('selectStorage', item)">
                            <span>{{ item.name }}</span>
                            <span class="ge ge-overlays">
                                <span class="ge ge-overlay" @click.stop="remove(item)"><span class="glyphicon glyphicon-trash"></span></span>
                                <span class="ge ge-overlay" @click.stop="update(item)"><span class="glyphicon glyphicon-edit"></span></span>
                            </span>
                        </a>
                    </li>
                </host>
            </ul>
        </div>
    </section>
</template>
