.ge.ge-decorator {
  position: relative;
  overflow: visible;
  display: flex;
  flex: 1 1 auto;
}
.ge.ge-widget {
  position: relative;
  overflow: visible;
  display: flex;
  flex: 1 1 auto;
}
.ge.ge-widget .ge.ge-overlay {
  position: absolute;
  overflow: visible;
  z-index: 10000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  border: 2px solid #50FF50;
  display: none;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-left {
  display: inline-block;
  position: absolute;
  left: -2px;
  padding: 4px;
  background: #50FF50;
  pointer-events: auto;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-left > a {
  display: block;
  float: left;
  pointer-events: auto;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0px 2px 0px 0px;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-left > a.ge.ge-drag-handle {
  cursor: crosshair;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right {
  display: inline-block;
  position: absolute;
  right: -2px;
  padding: 4px;
  text-align: right;
  background: #50FF50;
  pointer-events: auto;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right > a {
  display: block;
  float: right;
  pointer-events: auto;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0px 0px 0px 2px;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right > a.ge.ge-drag-handle {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right > a.ge.ge-drag-handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.ge.ge-widget:hover > .ge.ge-overlay {
  display: block;
}
.ge.ge-widget .ge.ge-content {
  display: flex;
  flex: 1 1 auto;
  overflow: visible;
}
