.ge.ge-widget {
  position: relative;
  width: 100%;
}
.ge.ge-widget .ge.ge-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-left {
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-left > a {
  display: inline-block;
  pointer-events: auto;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0px 0px;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right {
  display: block;
  position: absolute;
  top: 2px;
  right: 4px;
}
.ge.ge-widget .ge.ge-overlay > .ge.ge-overlay-right > a {
  display: inline-block;
  pointer-events: auto;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0px 0px;
}
.ge.ge-widget:hover > .ge.ge-overlay {
  opacity: 1;
}
.ge.ge-widget .ge.ge-content {
  position: relative;
  width: 100%;
  overflow: visible;
}
